{% extends 'admin/master.html' %}

{% block body %}
<div align="center" style="padding: 1em" class="h-100 container align-items-center">
<h1>Welcome to the AHT Ticketing Page!</h1>
<p>Click "Tickets" to manage/view all tickets.</p>
<br />
<a class="btn btn-primary" href="{{ url_for('logout') }}" aria-hidden="true">Logout</a>
</div>
<br />
<br />
<div style="background-color: black; text-align: center; padding: 1rem; color: white; position: fixed; bottom: 0; left: 0; right: 0;">Flask-Aht-Tickets by <b>Tejas Bhagawatula</b></div>
{% endblock %}
