<html><head>
    <title>About - Admin</title>
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
    
        <link href="/admin/static/bootstrap/bootstrap3/swatch/flatly/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        
        <link href="/admin/static/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">
	<link href="/admin/static/admin/css/bootstrap3/submenu.css" rel="stylesheet">
        
        <style>
        body {
            padding-top: 4px;
        }
        </style>
    
    
    
    
    
  </head>
  <body>
    
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="/admin">Austin Hindu Temple</a>
          
        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
          
          <ul class="nav navbar-nav">
            
  
  
          <li>
      <a class="nav-link" href="/admin/">
        Home</a>
      </li>
          <li>
      <a class="nav-link" href="/admin/tickets/">
        Tickets</a>
      </li>
  <li class="active">
    <a class="nav-link" href="/admin/about">About</a>
  </li>

          </ul>
          

          
          <ul class="nav navbar-nav navbar-right">
            
  
  

          </ul>
          
          
          
        </div>
      </nav>

      
      
  
    
  

      

      
      

      
<div align="center" style="padding: 1em">
<h1>Austin Hindu Temple Ticketing System</h1>
<p>About</p>
<hr />
<p>To get started, in the menu, click "Tickets"</p>
<p>Here, there will be a list of all of the tickets, and a create button.</p>
<p>To create a ticket, click the "create" button.</p>
<p>To update/edit a ticket, click the pencil icon beside the ticket ID.</p>
<hr />
<p>To add a new user, log into the web server.</p>
<p>Change the directory into <code>Aht-Flask-Tickets</code>, by running the command: <code>cd Aht-Flask-Tickets/</code></p>
<p>Initialize the virtual environment by doing: <code>source env/bin/activate</code></p>
<p>Finally, run the add_user script: <code>python3 scripts.py add_user</code></p>
<p>This script will walk you through adding a new user.</p>
<hr />
<p><b>Contact Info:</b></p>
<pre style="text-align: left">
    Maintainer:    Tejas Bhagawatula
    Email:         tejas.bhagawatula@gmail.com
    Phone Number:  917-603-2890
    Github Repo:   https://github.com/Tejas-Bh/Flask-Aht-Tickets
</pre>
<p>Feel free to let me know if you have any questions/concerns!</p>
</div>
<br>
<br>
<div style="background-color: black; text-align: center; padding: 1rem; color: white">Flask-Aht-Tickets by <b>Tejas Bhagawatula</b></div>

    </div>
    

    
    <script src="/admin/static/vendor/jquery.min.js?v=3.5.1" type="text/javascript"></script>
    <script src="/admin/static/bootstrap/bootstrap3/js/bootstrap.min.js?v=3.3.5" type="text/javascript"></script>
    <script src="/admin/static/vendor/moment.min.js?v=2.22.2" type="text/javascript"></script>
    <script src="/admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>
    <script src="/admin/static/admin/js/helpers.js?v=1.0.0" type="text/javascript"></script>
    
    

    
    
  
</body></html>