<html>
	<head><title>Bhagawatula.com</title>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1252">
		<meta HTTP-EQUIV="expires" CONTENT="5"> 
		<meta NAME="keywords" CONTENT="bhilai, borsi, raipur, rajhara, rajnandagaon, india, greetings, hemanth, shailesh, bhagawatula, tejas, tejas bhagawatula">
		<meta NAME="description" CONTENT="The website for the Bhagawatula family.">
		<meta name="google-site-verification" content="c7MtSvjRee9IXpFUYkHhQ4_O2JXmjbDzTovX47nhFZ0" />
	</head>
	<body LINK="#0000ff" VLINK="#800080" bgcolor="#d0d0d0">
		<font size="-4" color="#d0d0d0"> Managed by Hemanth and Shailesh Bhagawatula.</font>
		<center><blink><font color="#f05555" size="+3">Bhagawatula.com</font></blink>
			<p>
			<form name="bhagawatula" method="POST" action="rfr.cgi">
				<table CELLSPACING="0" BORDER="0" CELLPADDING="7" WIDTH="699">
					<tr><td WIDTH="48%" VALIGN="TOP">
							<b><i><font SIZE="4"><p ALIGN="CENTER">About Bhagawatula.com</b></i></font></td>
						<td WIDTH="5%" VALIGN="TOP"> </td>
					</tr>
					<tr><td WIDTH="80%" VALIGN="TOP" HEIGHT="450" bgcolor="#f0f0f0" align=center>
							<img SRC="hand.gif" width="20" height="10"></p>
										<u><font SIZE="4"><p>The People behind Bhagawatula.com :</p>
										</u></font><p><img SRC="image1.gif" WIDTH="61" HEIGHT="62"><b><i><font SIZE="4">S and H Bhagawatula's</p>
										</b></i></font><p align="justify"><font size="+1"><b><i>
													<a href=http://www.shaileshbhagawatula.com>S</a></i></b></font> 
										is an IBM-MidRange AS400 professional and has over 12 years of IT experience. He has worked for prestigeous companies like Datapro, Syspro and 
										DSQ Software etc. in India.  A graduate from the St. Thomas College in 
										Bhilai, MP, INDIA, he worked in Singapore for 1.5 years before shifting to 
										the USA for 6 years, and has later migrated to Canada. Now a Canadian Citizen, he has finished his PMP certification.
										</p>
										<p align="justify"><font size="+1"><b><i><a href="http://www.bhagawatula.com/h">H</a></i></b></font>  , also a graduate from St. Thomas College, Bhilai is a Sr. Unix System Administrator, with expertise in Solaris , HP-UX and Linux  Administration, Apache Web Servers, HTML, Perl, JavaScripts and shell scripts.</p>
										<p align="justify">He is working as a Sr. System Administrator for <a href=http://www.kapsch.net>Kapsch TrafficCom NA</a> in Austin, TX. He worked in Schlumberger and PCTEL in the Silicon Valley area of the USA before moving to Caseta Technologies (acquired by Telvent/Schneider/Kapsch) NYC, and transfered to Austin. Before coming to the US, he has worked in prestigious organizations in India, like DaRT (Mumbai), Mahindra Network Services (a part of M&M)(Mumbai and Pune) and Technic Digital Inc. (Bangalore)(also at Synopsys India, Blr. as a Consultant for TDI). </td>
						<td WIDTH="6%" VALIGN="TOP" HEIGHT="450"><p></p></td>
						 
					</tr>
				</table>
			</form>
			<center>
				<!--#exec cgi="count.cgi" --><br>
				<address>(C) 2014 bhagawatula.com. </address><br>
				<img src="animgif.gif" alt="Bhagawatula.com" border="0" WIDTH="465" HEIGHT="60"></center>
	</body>
</html>

